<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="../images/Authwiki.svg">
    <link rel="stylesheet" href="../css/style_authenication_detail.css">
    <script src="../js/comment.js"></script>
    <title>Authentication Code Detail</title>
</head>
<body>
    <header class="container welcome">
        <h2 class="page-name">Authentication Library</h2>
        <img class="dp" src="../images/Svgs/Frame 61051.svg" alt="image not supported">
    </header>
    
    <main class="container">
        <h1 class="heading">Firebase Auth. (Javascript)</h1>
        
        <section class="overview">
            <h3>Overview</h3>
            <p class="body-text">
                Firebase is an authentication service that allows you to easily authenticate users. It provides support for
                email/password, phone number, Google, Facebook sign-in amongst many others. This library will help get you
                started with
                registering users on your React project
            </p>
        </section>
        <section class="requirement">
            <h3>Packages & dependencies</h3>
            <p class="body-text">
                React: This library enables you to set up sign-up authentication on your react app. Ensure you have npm
                installed on
                your workstation then set up a new project by running
                <code>npx create-react-app &#60;APP_NAME&#62;</APP_NAME></code>
                Firebase module: After setting up your react project, you'd need to install the firebase module in order to use
                the
                packages included therein. You can do so by running <code>npm install firebase</code>.
            </p>
        </section>
        <section>
            <h3>Code snippets</h3>
            <iframe
            src="https://carbon.now.sh/embed/fWubIewxnlqQ2E3bdJ4g"
            style="width: 100%; height: 1000px; border:0; transform: scale(1); overflow:scroll; padding: 0 20px;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>
        </section>
        <section>
            <h3 class="examples">Examples</h3>
            <p class="body-text">
                Time is precious as a developer, and we want you to get started building that next idea FAST! To get started
                using the library:
            </p>
            
            <ol>
                <li>Head over to the <a href="https://console.firebase.google.com/u/0/">Firebase console</a> and click Create a
                    project.</li>
                <li>Give your project a name and click create to start the process.</li>
                <li>Click on the Web icon (&#60;/&#62;) on your project's overview page to register the app.</li>
                <li>Give your app a name of your choice and click Register app. You don't need to enable Firebase Hosting.</li>
                <li>Copy the configuration object under “Add Firebase SDK”.</li>
                <li>Head over to the authentication tab and enable “Email/password” authentication</li>
            </ol>
            <p class="body-text">
                After that is done, create a `.env` to store the configuration information for your project. Your key should
                match
                what's after the <code>“REACT_APP_”</code> in the initializeApp object and the value can be obtained from the
                configuration object
                retrieved in the previous step
            </p>
            <iframe
            src="https://carbon.now.sh/embed/4fZUgDsyThJX9RqMpNIx"
            style="width: 100%; height: 168px; border:0; transform: scale(1); overflow:scroll; padding: 0 20px;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>
            <p class="body-text">
                <span class="bold-text">Voila!</span> All that remains is to hook up your library with your input field. Happy
                coding!
            </p>
            <p class="bold-text">
                Note: You can choose to do away with the REACT_APP prefix if you have the “dotenv” package installed and
                initialized
            </p>
        </section>
        <div class="btn-group">
            <a href="#">
                <button class="download-btn">Download  <img src="../images/download-icon.svg" alt=""></button>
            </a>
            <div class="like_btns">
                <div class="like_btn">
                    <a href="#">
                        <button><img src="../images/like.svg" alt=""></button>
                    </a>
                    <p class="count likes">11.3k</p>
                </div>
                <div class="like_btn">
                    <a href="#">
                        <button><img src="../images/dislike.svg" alt=""></button>
                    </a>
                    <p class="count dislikes">1.5k</p>
                </div>
            </div>
        </div>
    </main>

    <!-- COMMENTS SECTION -->
    <section id="comments" class="container">
        <h2 class="suggestion-text">Suggested Download</h2>
        <div class="section-container">
          <!-- Card 1 -->
          <a href="#">
            <div class="card-section-card-1">
              <div class="card-section sub-section">
                <img
                  class="icon-image"
                  src="../images/react.png"
                  alt="card-1"
                />
              </div>
              <div class="card-view">
                <h2 class="sub-section-title">Seamless Reactjs Login templates</h2>
                <div class="card-base">
                  <div class="card-view-details">
                    <img src="../images/view.png" alt="view-icon" />
                    <p class="card-view-paragraph">4.5K Views</p>
                  </div>
      
                  <div class="card-view-details">
                    <img
                      src="../images/download-icon.png"
                      alt="download-icon"
                    />
                    <p class="card-view-paragraph">11.3K Downloads</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- Card 2 -->
          <a href="#">
            <div class="card-section-card-1">
              <div class="card-section sub-section">
                <img
                  class="icon-image"
                  src="../images/react.png"
                  alt="card-1"
                />
              </div>
              <div class="card-view">
                <h2 class="sub-section-title">Seamless Reactjs Login templates</h2>
                <div class="card-base">
                  <div class="card-view-details">
                    <img src="../images/view.png" alt="view-icon" />
                    <p class="card-view-paragraph">4.5K Views</p>
                  </div>
                  
                  <div class="card-view-details">
                    <img
                      src="../images/download-icon.png"
                      alt="download-icon"
                    />
                    <p class="card-view-paragraph">11.3K Downloads</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
  
          <!-- Card 3 -->
          <a href="#">
            <div class="card-section-card-1">
              <div class="card-section sub-section">
                <img
                  class="icon-image"
                  src="../images/react.png"
                  alt="card-1"
                />
              </div>
              <div class="card-view">
                <h2 class="sub-section-title">Seamless Reactjs Login templates</h2>
                <div class="card-base">
                  <div class="card-view-details">
                    <img src="../images/view.png" alt="view-icon" />
                    <p class="card-view-paragraph">4.5K Views</p>
                  </div>
      
                  <div class="card-view-details">
                    <img
                      src="../images/download-icon.png"
                      alt="download-icon"
                    />
                    <p class="card-view-paragraph">11.3K Downloads</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <a href="#"><button id="load_btn">Load more</button></a>
  
        <!-- LEAVE COMMENT SECTION -->
        <main>
            <div class="comment-container-heading">
                <h2>LEAVE A COMMENT</h2>
                <div class="comment-container">
                    <img style="width: 40px; height: 40px;" src="../images/user.svg" alt="">
                    <p class="comment-container-paragraph">
                    Your email address will not be published. Required fields are
                    marked*
                    </p>
                </div>
            </div>
            <form oninput="enableAndDisablePostButton()"  class="comment-form" action="" method="">
                <textarea name="" id="comment" placeholder="comment*"></textarea>
                <button style="pointer-events: none;" disabled="true" type="submit" id="post-button">Post Comment</button>
            </form>
        </main>
  
        <article class="comment-section">
          <h1>PREVIOUS COMMENTS</h1>
          
          <div class="previous-comments-wrapper">
              <!-- first reply -->
            <div class="previous-comments">
                <img style="width: 40px; height: 40px;" src="../images/user.svg" alt="">
                <div class="previous-comments-name">
                    <p class="previous-comments-paragraph-name">
                        Jane Doe <span> 20 Jun, 2022, 11:44 am</span>
                    </p>
                    <p class="previous-comments-paragraph">
                        Thank you for creating this platform, it was a great help for
                        me. would love to contribute to this project.
                    </p>
                    <div class="reply-button">
                        <p><a href="">Reply</a></p>
            
                        <div class="reply-button-like">
                            <a href="">
                                <img class="reply-icon" src="../images/like.png" alt="like-button"/>
                            </a>
                            <a href="">
                                <img class="reply-icon-1" src="../images/dislike.png" alt="dislike button"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
              
              
    
            <!-- second reply -->
            <div class="previous-comments">
                <img style="width: 40px; height: 40px;" src="../images/user.svg" alt="">
                <div class="previous-comments-name">
                    <p class="previous-comments-paragraph-name">
                        Jane Doe <span> 20 Jun, 2022, 11:44 am</span>
                    </p>
                    <p class="previous-comments-paragraph">
                        Thank you for creating this platform, it was a great help for
                        me. would love to contribute to this project.
                    </p>
                    <div class="reply-button">
                        <p><a href="">Reply</a></p>
            
                        <div class="reply-button-like">
                            <a href="">
                                <img class="reply-icon" src="../images/like.png" alt="like-button"/>
                            </a>
                            <a href="">
                                <img class="reply-icon-1" src="../images/dislike.png" alt="dislike button"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
  
            <!-- third reply -->
            <div class="previous-comments">
                <img style="width: 40px; height: 40px;" src="../images/user.svg" alt="">
                <div class="previous-comments-name">
                    <p class="previous-comments-paragraph-name">
                        Jane Doe <span> 20 Jun, 2022, 11:44 am</span>
                    </p>
                    <p class="previous-comments-paragraph">
                        Thank you for creating this platform, it was a great help for
                        me. would love to contribute to this project.
                    </p>
                    <div class="reply-button">
                        <p><a href="">Reply</a></p>
            
                        <div class="reply-button-like">
                            <a href="">
                                <img class="reply-icon" src="../images/like.png" alt="like-button"/>
                            </a>
                            <a href="">
                                <img class="reply-icon-1" src="../images/dislike.png" alt="dislike button"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- fourth reply -->
            <div class="previous-comments">
                <img style="width: 40px; height: 40px;" src="../images/user.svg" alt="">
                <div class="previous-comments-name">
                    <p class="previous-comments-paragraph-name">
                        Jane Doe <span> 20 Jun, 2022, 11:44 am</span>
                    </p>
                    <p class="previous-comments-paragraph">
                        Thank you for creating this platform, it was a great help for
                        me. would love to contribute to this project.
                    </p>
                    <div class="reply-button">
                        <p><a href="">Reply</a></p>
            
                        <div class="reply-button-like">
                            <a href="">
                                <img class="reply-icon" src="../images/like.png" alt="like-button"/>
                            </a>
                            <a href="">
                                <img class="reply-icon-1" src="../images/dislike.png" alt="dislike button"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
  
            <!-- fifth reply -->
            <div class="previous-comments">
                <img style="width: 40px; height: 40px;" src="../images/user.svg" alt="">
                <div class="previous-comments-name">
                    <p class="previous-comments-paragraph-name">
                        Jane Doe <span> 20 Jun, 2022, 11:44 am</span>
                    </p>
                    <p class="previous-comments-paragraph">
                        Thank you for creating this platform, it was a great help for
                        me. would love to contribute to this project.
                    </p>
                    <div class="reply-button">
                        <p><a href="">Reply</a></p>
            
                        <div class="reply-button-like">
                            <a href="">
                                <img class="reply-icon" src="../images/like.png" alt="like-button"/>
                            </a>
                            <a href="">
                                <img class="reply-icon-1" src="../images/dislike.png" alt="dislike button"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </article>
      </section>
  
    
</body>
</html>