<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profile_card.css">
    <title>Delete Profile</title>
</head>
<body>
        <div class="profile_card">
            <h1>Are you sure?</h1>
            <p>Deleting your profile cannot be undone.</p>
            <div class="buttons">
                <button id="close_button">Close</button>
                <button id="delete_button">Delete</button>
            </div>
        </div>        
</body>
</html>