<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../images/Authwiki.svg">
    <title>Download</title>
    <link rel="stylesheet" href="../css/style_download.css">
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
</head>
<body>
    <header class="">
        
    </header>
    
    <Main class="container">

        <div class="welcome">
            <h2 class="page-name">Authentication Library</h2>
            <img class="dp" src="../images/Svgs/Frame 61051.svg" alt="image not supported">
        </div>

        <h1 class="heading">Firebase Auth. (Javascript)</h1>
        
        <section class="overview">
            <h3>Overview</h3>
            <p class="body-text">
                Firebase is an authentication service that allows you to easily authenticate users. It provides support for
                email/password, phone number, Google, Facebook sign-in amongst many others. This library will help get you
                started with
                registering users on your React project
            </p>
        </section>
        <section class="requirement">
            <h3>Packages/dependencies</h3>
            <p class="body-text">
                React: This library enables you to set up sign-up authentication on your react app. Ensure you have npm
                installed on
                your workstation then set up a new project by running
                <code>npx create-react-app &#60;APP_NAME&#62;</APP_NAME></code>
                Firebase module: After setting up your react project, you'd need to install the firebase module in order to use
                the
                packages included therein. You can do so by running <code>npm install firebase</code>.
            </p>
        </section>
        <section>
            <h3>Code snippets</h3>
                <div class="code">
                    <img class="snippet" src="../images/Firebase_snippet.png" alt="unsupported image">
                </div>
        </section>
        <section>
            <h3 class="examples">Examples</h3>
            <p class="body-text">
                Time is precious as a developer, and we want you to get started building that next idea FAST! To get started
                using the library:
            </p>
            
            <ol>
                <li>Head over to the <a href="https://console.firebase.google.com/u/0/">Firebase console</a> and click Create a
                    project.</li>
                <li>Give your project a name and click create to start the process.</li>
                <li>Click on the Web icon (&#60;/&#62;) on your project's overview page to register the app.</li>
                <li>Give your app a name of your choice and click Register app. You don't need to enable Firebase Hosting.</li>
                <li>Copy the configuration object under “Add Firebase SDK”.</li>
                <li>Head over to the authentication tab and enable “Email/password” authentication</li>
            </ol>

            <p class="body-text">
                After that is done, create a `.env` to store the configuration information for your project. Your key should
                match
                what's after the <code>“REACT_APP_”</code> in the initializeApp object and the value can be obtained from the
                configuration object
                retrieved in the previous step
            </p>
            <img class="snippet" src="../images/example.png" alt="unsupported image">
            <p class>
                <span class="bold-text">Voila!</span> All that remains is to hook up your library with your input field. Happy
                coding!
            </p>
            <p class="bold-text">
                Note: You can choose to do away with the REACT_APP prefix if you have the “dotenv” package installed and
                initialized
            </p>
        </section>


        <div class="btn-group">
            <button class="download-btn"><a href="#">Download  <img src="../images/download-icon.png" alt=""></a></button>
            <div class="code-stars">
                <svg xmlns="http://www.w3.org/2000/svg" width="15px" fill="#ffb37c" viewBox="0 0 576 512">
                    <path
                        d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                    </path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="15px" fill="#ffb37c" viewBox="0 0 576 512">
                    <path
                        d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                    </path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="15px" fill="#ffb37c" viewBox="0 0 576 512">
                    <path
                        d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                    </path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="15px" fill="#ffb37c" viewBox="0 0 576 512">
                    <path
                        d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                    </path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="15px" fill="#ffb37c" viewBox="0 0 576 512">
                    <path
                        d="M463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7zM288 376.4L288.1 376.3L399.7 435.9L378.4 309.6L469.2 219.8L343.8 201.4L288.1 86.85L288 87.14V376.4z">
                    </path>
                </svg>
            </div>
        </div>
    </Main>
    
</body>
</html>