<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset Password</title>
        <link rel="stylesheet" href="../css/reset_password.css" />
        <link
            rel="shortcut icon"
            href="../images/Auth_wiki logo.svg"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
        />
    </head>
    <body>
        <div class="container">
            <main>
                <div>
                    <img
                        src="../images/Auth wiki logo 1.svg"
                        alt="Auth_wiki"
                        class="img"
                    />
                </div>
                <h4>Reset Password</h4>
                <div class="form-group">
                    <form action="submit">
                        <label for="username">Email Address</label>
                        <input type="email" name="user_email" id="user_email" placeholder="Enter email address">
                        <button class="reset">Reset Password</button>
                    </form>
                    <div class="footer">
                        <p>Not a member yet? <a href="login.html">Sign Up</a></p>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
