
/* --- Welcome Section --- */
.welcome{
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Page Name */
.page-name{
    margin-top: 48px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #143A56;
}

/* Welcome Picture */
.dp{
    max-width: 941px;
    max-height: 520px;
    width: 100%;
    height: auto;
    margin-top: 64px;
    border-radius: 4px;
}

/* Name of Code */
.heading{
    left: 80px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #143A56;
}

/* Name of Sections */
h3 {
    padding-top: 42px;
    padding-bottom: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 34px;
    color: #143A56;
}

/* Detail of sections */
.body-text, p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #1F1F1F;
}


.bold-text{
    font-weight:bold;
}

.be_container ol{
    padding: 55px;
}

.be_container li{
    max-width: 1133px;
    height: 46px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 46px;
        /* identical to box height, or 192% */
    color: #1F1F1F;
}

.be_container p {
    padding-bottom: 12px;
}

.download-btn {
    padding: 16px 24px;
    margin-right: 104.49px;
    width: 192px;
    height: 56px;
    background-color: #FFB37C;
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1f1f1f;
    cursor: pointer;
}
.download-btn img {
    padding: 0 3px;
}

.be_container a {
    text-decoration: none;
    color: #1f1f1f;
    font-size: 20px;
    line-height: 24px;
}

.btn-group{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 20px 0;
}

.count a {
    font-family: 'Manrope';
    font-size: 20px;
    line-height: 20px;
    font-weight: 700px;
    font-style: normal;
    margin-left: 16px;
    margin-right: 32px;
}

.back-stars i, .front-stars i {
    font-size: 34px;
}

@media only screen and (max-width: 768px) {
    .back-stars i, .front-stars i {
        font-size: 25px;
    }
    .download-btn {
        margin-right: 51px;
    }
}
