* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= COLORS ==================== */
:root {
  --primary-color: #ffb37c;
  --secondary-color: #143a56;
}

body {
  text-align: center;
  scroll-behavior: smooth;
}

section {
  margin: 0 auto;
  padding: 100px 0;
}

.suggestion-text {
  margin-bottom: 50px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: var(--secondary-color);
}

.section-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  /* border: 3px solid red; */
}

.icon-image {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sub-section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-color);
}
.card-section-card-1 {
  /* background-color: gray; */
  background: #d9d9d9;
  border-radius: 8px;
  width: 300px;
  height: 380px;
}

.sub-section {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #808080;
}

.card-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
}

.card-view-icon {
  color: #808080;
  font-size: 15px;
  text-align: center;
  /* border: 3px solid red; */
}
.card-view-details {
  display: flex;
  margin-left: 15px;
}
.card-view-paragraph {
  font-weight: 500;
  font-size: 10px;
  /* line-height: 24px;   */
  color: #808080;
  margin-left: 5px;
}

button {
  padding: 16px 24px;
  margin-top: 50px;
  width: 192px;
  height: 56px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1f1f1f;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1f1f1f;
  font-size: 20px;
  line-height: 24px;
}
/*==================== LEAVE COMMENT SECTION  ===========================*/
main {
  padding: 50px 0;
}
.comment-container-heading {
  margin-right: 600px;
}
main h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: var(--secondary-color);
  margin-right: 220px;
}

.comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-left: 60px;
}

.comment-container-paragraph {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #808080;
  margin-left: 10px;
}

textarea {
  padding: 16px 10px 10px;
  width: 958px;
  height: 238px;
  background: rgba(240, 240, 240, 0.7);
  border: 0.5px solid rgba(128, 128, 128, 0.6);
  border-radius: 4px;
  resize: vertical;
}

.button-post {
  margin-right: 780px;
}

/*================ Article section ====================*/
.previous-comment-container {
  margin-right: 250px;
  margin-top: 32px;
}
article h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: var(--secondary-color);
  margin-right: 800px;
  margin-bottom: 20px;
}

span {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #808080;
}

.previous-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.previous-comments-name {
  text-align: left;
}

.previous-comments-paragraph-name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #808080;
}

.previous-comments-paragraph {
  margin-top: 5px;
}

.fa-solid {
  font-size: 40px;
  color: rgba(208, 208, 208, 1);
}
.reply-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 490px;
  margin-top: 15px;
  color: rgba(208, 208, 208, 1);
  cursor: pointer;
  outline: 0;
}
.reply-button:focus {
  outline: none;
}
.reply-button-like {
  margin-left: 32px;
}
.blue {
  color: #143a56;
}

.red {
  color: red;
}

.reply-icon-1 {
  margin-left: 10px;
}

/* second reply  */

.blue-1 {
  color: #143a56;
}

.red-1 {
  color: red;
}

/* third reply  */

.blue-2 {
  color: #143a56;
}

.red-2 {
  color: red;
}

/* forth reply  */

.blue-3 {
  color: #143a56;
}

.red-3 {
  color: red;
}

/* fifth reply  */

.blue-4 {
  color: #143a56;
}

.red-4 {
  color: red;
}

/* ================= MEDIA QUERY ============== */
@media only screen and (max-width: 760px) {

  .suggestion-text {
    font-size: 28px;
  }

  /* ==== main section === */

  main {
    /* border: 2px solid red; */
    display: inline-block;
    /* display: flex;
    flex-direction: column;
    justify-content: left; */
  }

  .comment-container-heading h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    display: inline;
    margin-right: 170px;
    /* border: 2px solid red; */
  }

  .comment-container {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    /* border: 2px solid red; */
    margin-left: 10px;
  }

  .comment-container-paragraph {
    /* border: 2px solid red; */
    display: inline-block;
    text-align: left;
    width: 100%;

    /* width: 70%; */
  }

  textarea {
    box-sizing: border-box;
    width: 411px;
    height: 161px;

    display: flex;

    resize: none;
  }

  .button-post {
    margin-left: 10px;
  }


  /* ======Article section ======= */
  article {
    display: inline-block;
    margin-left: 10px;
    /* border: 3px solid red; */
  }

  article h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    text-align: left;
  }
}
