body {
    font-family: 'Manrope';
}
.suggest {
    background: linear-gradient(180deg, #FCFCFC 0%, #FCFCFC 100%);
    border-bottom: 2px solid #DCDCDC;
    border-radius: 0px 0px 8px 8px;
    box-sizing: border-box;
}
.suggest > b {
    height: 72px;
    overflow: hidden;
}
.pagination {
    padding-left: 2rem;
}
button{
    border: none;
    color: var(--text_color);
    font-size: 16px !important;
    font-weight: 500 !important;
    border-radius: 4px;
    padding: 0 15px;
    gap: 10px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0 !important;
}
button:hover{
border: 1px solid rgba(255, 146, 67, 0.85);
box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
transform: scale(1.02);
}
button#download {
    background-color: var(--button_hover_color);
    margin-right: calc(5% + 17px);
}
button#download:hover {
    background-color: var(--button_color);
}
button#commentBtn {
    background-color: var(--button_color);
}
button#commentBtn:hover {
    background-color: var(--button_hover_color);
}
.star-rating i {
    font-size: 35px !important;
}

@media only screen and (max-width: 408px) {
    .star-rating i {
        font-size: 25px !important;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans';
    color: #143A56;
}
h2 {
    padding-bottom: 15px;
    font-weight: 500;
}
h1 {
    padding-bottom: 20px;
    font-weight: 700;
}
hr, br, h1, h2, h3, h4, h5, h6 {
    margin: 1.5px 0;
}
p {
    overflow: auto;
    scrollbar-width: thin;
}
code, pre {
    display: flex;
    flex-direction: column;
    background-color: rgba(175, 184, 193, 0.2);
    border: 2px solid rgba(33, 34, 36, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
    margin: 1.5px 0.5px;
}
code > pre, pre > code {
    border-radius: 4px;
    padding: 2.5px;
}
code i.fa-copy {
    color: #FF9243;
    font-size: large;
    position: relative;
    top: 5px;
    right: -5px;
    align-self: end;
    padding: 5px;
}
code i.fa-copy:hover {
    border: 2px solid rgba(33, 34, 36, 0.2);
    border-radius: 8px;
}
