.signup-box {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.signup-title {
    text-align: center;
    margin-top: 8%;
    overflow: hidden;
}



.guide {
    text-align: left;
    max-width: 390px;
    margin-left: 34.4%;
    font-size: 14px;
    line-height: 25px;
}
.int {
    height: 0.9cm;
    margin-bottom: 13px;
    border: px;
    border-radius: 5px;
}
.button {
    background-color: ;
    border: none;
    color: white;
    padding: 20px 149px;
    border: 1px;
    border-color: ;
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 34.4%;
}
.continue-with {
    text-align: center;
}


.continue-with:before,
.continue-with:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10.5%;
}

.continue-with:before {
  right: 1em;
  margin-left: -50%;
}

.continue-with:after {
  left: 1em;
  margin-right: -50%;
}


.fa {
    padding: 8px;
    font-size: 30px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    margin-left: 39.7%;
    margin-right: ;
    border-radius: 3px;
}
.fa-google {
    background: grey;
    color: white;
    
  }
  .fa-github {
    background: grey;
    color: white;
    margin-left: 3%;
    margin-right: ;
  }
.lastP {
    text-align: center;
}