.front-stars, .back-stars, .star-rating {
  display: flex;
}
  
.star-rating {
  align-items: center;
  justify-content: center;
}

.star-rating i {
  font-size: 18px;
}

.back-stars {
  position: relative;
}
.front-stars {
  color: #FFFD00;
  overflow: hidden;
  position: absolute;
  transition: all 0.5s;
}
@media only screen and (max-width: 768px) {
  .star-rating i {
    font-size: 12px;
  }
}