.front-stars, .back-stars, .star-rating {
    display: flex;
  }
  
.star-rating {
  align-items: center;
  font-size: 12px;
  justify-content: center;
}

.star-rating i {
  width: 11.04px;
  height: 10.5px;
}
.back-stars {
  position: relative;
}
.front-stars {
  color: #FFFD00;
  overflow: hidden;
  position: absolute;
  transition: all 0.5s;
}
