@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Manrope');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
    font-family: 'Manrope';
  }
  
 .container {
    margin: 0 auto;
    /* width: 1014px; */
    width: 76%;
  }
  
  .suggestion-text {
    margin-bottom: 32px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    /* identical to box height, or 123% */
    color: #808080;
  }
  
  .section-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
    /* border: 3px solid red; */
  }
  
  .icon-image {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .sub-section-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  
    color: #808080;
  }
  .card-section-card-1 {
    /* background-color: gray; */
    background: #d9d9d9;
    border-radius: 8px;
    width: 300px;
    height: 400px;
    position: relative;
  }
  
.card-section, .sub-section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

.card-section img{
  width: 100%;
  height: 100%;
}
  
  .card-section-card-1:hover {
    background: #d9d9d9;
  }
  
  .card-section-card-1:hover .card-section {
    opacity: 0.5;
  }
  
  .card-section-card-1:hover .sub-section {
    opacity: 1;
  }
  
  .card-section-card-1:hover .sub-section-title {
    opacity: 1;
  }
  
  .card-section-card-1:hover .icon-image {
    opacity: 0.5;
  }
  
  .card-section-card-1:hover .icon-image img {
    opacity: 0.5;
  }
  
  .card-section-card-1:hover .icon-image img {
    opacity: 0.5;
  }
  
  .card-section-card-1:hover .icon-image img {
    opacity: 0.5;
  }
  
  .card-section-card-1:hover .icon-image img {
    opacity: 0.5;
  }
  
  .card-section-card-1:hover .icon-image img {
    opacity: 0.5;
  }
  
  .card-section-card-1:hover .icon-image img {
    opacity: 0.5;
  }
  
  .card-section-card-1:hover .icon-image img {
    opacity: 0.5;
  }
  
  .card-section-card-1:hover .icon-image img {
    opacity: 0.5;
  }
  
  .card-section-card-1:hover .icon-image img {
    opacity: 0.5;
  }
  
  .card-section-card-1:hover .icon-image img {
    opacity: 0.5;
  }
  
  .card-section-card-1:hover .icon-image img {
}

  .sub-section {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #808080;
  }
  
  .card-view {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 72px;
    padding: 6px 20px 10px 20px;
    background: linear-gradient(180deg, #FCFCFC 0%, #FCFCFC 100%);
    border-bottom: 2px solid #DCDCDC;
    border-radius: 4px;
  }

  .card-base{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card-view-details {
    display: flex;
    justify-content: space-between;
  }
  .card-view-paragraph {
    font-weight: 500;
    font-size: 10px;
    /* line-height: 24px;   */
    color: #808080;
    margin-left: 5px;
  }
  
  button {
    padding: 16px 24px;
    width: 192px;
    height: 56px;
    background: rgba(128, 128, 128, 0.7);
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1f1f1f;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #1f1f1f;
    font-size: 20px;
    line-height: 24px;
  }
  /* LEAVE COMMENT SECTION  */
  main {
    margin-top: 64px;
  }
  .comment-container-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  main h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #808080;
    margin-bottom: 32px;
  }
  
  .comment-container {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
  }
  
  .comment-container-paragraph {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #808080;
    align-self: flex-start;
  }

  .comment-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    margin-bottom: 88px;
    padding: 16px 0 0 16px;
  }
  
  .comment-form textarea{
    resize: none !important;
    width: 958px;
    height: 238px;
    margin-bottom: 32px;
    background: rgba(240, 240, 240, 0.7);
    border: 0.5px solid rgba(128, 128, 128, 0.6);
    border-radius: 4px;
    display: flex;
    align-items: flex-start !important;
    padding: 16px 10px 10px;
    gap: 10px;
  }

  article[class=comment-section]{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  .previous-comments-wrapper{
    margin-left: 66px;
    min-width: 603px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32.33px;
  }
  
  .button-post {
    margin-right: 780px;
  }
  /* Article section */
  
  article h1 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #808080;
    margin-bottom: 32px;
  }
  
  
  .previous-comments {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }
  
  .previous-comments-name {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .previous-comments-paragraph-name {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #808080;
  
  }

  .previous-comments-paragraph-name span {
    margin-left: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #808080;
  }
  
  .previous-comments-paragraph {
    margin-top: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #808080;
  }
  
  .fa-solid, .fa-circle-user{
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: rgba(208, 208, 208, 1);
  }

  .reply-button {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-top: 19.67px;
  }
  
  .reply-button-like {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  

  @media screen and (max-width: 1300px) {
    
    .section-container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: ;
    }
}
  