* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/Background.svg) no-repeat center center fixed;
    padding-top: 3%;
}

main {
    
    max-width: 520px;
    width: 100%;
    margin: auto;
    padding: 8% 6%;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.05), -2px 4px 5px rgba(0, 0, 0, 0.05);
}

.img{
    width: 175px;
    height: 43px;
    
}

h4 {
    margin-top: 15.59px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    /* margin: 5%; */
    padding-bottom: 50px;
    color: #000000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container:before {
    content: "";
    background-color: #929090;
    position: absolute;
    background-size: contain;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
}

form{
    margin: 25px;
}

label, input{
    font-size: 16px;
    font-family: 'Manrope';
    line-height: 22px;
    font-weight: 400;
    display: block;
    font-style: normal;
    letter-spacing: -0.02em;
    font-feature-settings: 'calt' off;
    color: #1f1f1f;
}

label{
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 97%;
    margin-top: 5px;
    margin-bottom: 45px;
    background: #FFFFFF;
    border: 1px solid #3C627E;
    border-radius: 4px;
    height: 48px;
    padding-left: 12px;
}

::placeholder {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 13px 12px;
}

button {
    cursor: pointer;
}

.reset {

    width: 100%;
    background: #ffb37c;
    border-color: transparent;
    border-radius: 4px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #181818;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
}


button:hover {
    outline-style: outset;
    outline-color: transparent;
    box-shadow: 0px 6px 7px 4px rgba(31, 31, 31, 0.12);
}

button:active {
    outline-style: inset;
}

p {
    margin-top: 20px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1f1f1f;
}

a{
    text-decoration: underline;
    font-weight: 500;
    color: #FF9243;
}

@media only screen and (max-width: 450px) {
    body {
        padding-top: 15%;
    }

    main {
        width: 85%;
        height: 425px;
        padding-top: 8%;
    }

    p {
        font-weight: 300;
        font-size: 10px;
        line-height: 13px;
        margin: 10px;
    }


    h4 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
    .reset {
        width: 80%;
        height: 44px;
        padding: 10px 24px;
        gap: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .img {
        width: 55%;
        height: auto;
    }

}