@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Manrope');

:root{
    --highlight_color : #FF9243;
    --text_color : #1f1f1f;
    --header_color : #143A56;
    --sub-header_color : #284E6B;
    --sidebar_color : #284E6B;
    --search_box_color : #3C627E;
    --button_active_color :  #FFD791;
    --button_color : #FF9243;
    --button_hover_color : rgba(255, 215, 145, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

body{
    position: relative;
    font-family: 'Manrope';
    font-style: normal;
    background-color: #FFF;
}

a:hover{
    color: var(--highlight_color);
}

button{
    cursor: pointer;
}

main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px !important;
}

main .section{
    margin-bottom: 88px;
}

main .section:last-child{
    margin-bottom: 0;
}

.showcase{
    margin-top: 156px;
    margin-bottom: 56px;
}

/* HEADER AND FOOTER */

/* HEADER */
 header{
    min-height: 110px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
 }
 
 header #current_page_link a{
    color: var(--highlight_color);
 }

 header a:hover:not(header .site_logo a:hover){
    opacity: 0.6;
 }



header a{
    color: #4F4F4F;
    transition: 0.2s; 
}

 header div[class=container]{
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 header .site_logo{
    width:175px;
 }

header nav{
    max-width: 652px;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
    height: auto;
    width: 100%;
    gap: 70px;
}

header #nav_secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

header #nav_button{
    height: 56px;
    width: 156px;
    background-color: var(--button_color);
    border: none;
    outline: none !important;
    border-radius: 4px;
    color: var(--text_color);
    display: flex;
    justify-content: center;
    font-family: 'Manrope';
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    transition: all ease-out 50ms;
}

header #nav_button:hover{
    background-color: var(--button_hover_color);
    border: 1px solid rgba(255, 146, 67, 0.85);
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
    transform: scale(1.02);
}


header #nav_button:active{
    background-color: var(--button_active_color);
    transform: scale(0.97);
}

/* MENU BAR */

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#menu_button{
    width: 48px ;
    height: 48px;
    border: none;
    outline: none !important;
    border-radius: 4px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
}

#menu_button:active{
    transform: scale(0.95);
}

.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 70px;
}

.side_menu {
    height: 100%;
    width: 0;
    opacity: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: rgba(31, 31, 31, 0.6);
    padding-top: 83px;
    padding-left: 32px;
    gap: 16px;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0px 0px 100px 100vmax  rgba(0, 0, 0, 0.2) ; 
    transition: 0.3s;
  }
  
.side_menu .menu_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18.25px;
    min-height: 28px;
    min-width: 78px;
}

.menu_item:last-of-type{
    gap: 20.5px;
}

.side_menu button{
    margin-top: 38.5px;
    width: 134px;
    height: 44px;
    background: #FFB37C;
    border-radius: 4px;
    border: none;
    outline: none !important;
    color: var(--text_color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    transition: all ease-out 50ms;
}

.side_menu button:hover{
    background-color: var(--button_hover_color);
    border: 1px solid rgba(255, 146, 67, 0.85);
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
    transform: scale(1.02);
}

.side_menu button:active{
    background-color: var(--button_active_color);
    transform: scale(0.97);
}
  
.side_menu a{
    color: rgba(31, 31, 31, 0.6);
    transition: 0.2s;
  }

  .side_menu a:hover {
    color: var(--highlight_color);
    opacity: 0.8;
  }
  
  .side_menu a:active{
    color: var(--button_active_color);
  }
  .side_menu .closebtn {
    position: absolute;
    top: 33.5px;
    right: 27.5px;
    font-size: 35px;
    color: #000;
  }

  .side_menu a[class=closebtn]:active {
    animation-name: closebtn_active;
    animation-duration: 0.85s;
  }

  @keyframes closebtn_active {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
    
  

  /* MENU BAR SEARCH */

.menu_search{
    display: flex;
    align-items: center;
    gap: 6.25px;
    width: 231px;
    height: 44px;
    border: none;  
    background: rgba(240, 240, 240, 0.8);
    border-radius: 4px;
    margin-bottom: 32px;


}

.menu_search img{
    margin-left: 11.26px;
}

.menu_search #menu_search_form{
    height: 100%;
    display: flex;
    padding: 6px !important;
    gap: 6px;
    flex: auto;
}

.menu_search #menu_search_form #search_field{
    height: 100%;
    border: none !important;
    resize: none !important;
    outline: none !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    gap: 6px;
    overflow-y: hidden;
    overflow-x: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--text_color);
    background: transparent !important;

}

.menu_search #menu_search_form #search_field::placeholder{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(31, 31, 31, 0.4);
    border: none !important; 
}

.menu_search:focus-within{
    border: 1px solid var(--search_box_color);
    
}


/* FOOTER */

footer{
    background-color: #F0F0F0;
    padding: 55px 0px;
}

footer a{
   transition: 0.2s; 
}
footer a:hover{
    color: var(--highlight_color);
}

.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 238px;
    margin-bottom: 80px;
}

.footer_main{
    width: 646px ;
    display: flex;
    justify-content: space-between;
}

.footer_links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}


.footer_links p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: rgba(71, 71, 71, 0.7);
    margin-bottom: 30px;
}

.footer_links a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
}

.footer_newsletter{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer_newsletter #site_logo{
    align-self: flex-end;
    margin-bottom: 26px;
}

.footer_newsletter p{
    margin-bottom: 20px;
}

.footer_form #news_form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
}

.footer_form #news_form #email_field{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px 10px 16px;
    gap: 8px;
    width: 288px;
    height: 44px;
    border: 1px solid #002642 !important;
    border-radius: 4px 0px 0px 4px;
    outline: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.footer_form #news_form #email_field::placeholder{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(24, 24, 24, 0.6);
    overflow-x: auto;
}

#news_form #subscribe_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    width: 97px;
    height: 44px;
    background:rgba(255, 146, 67, 0.9);;
    border-radius: 0px 4px 4px 0px;
    border: none;
    outline: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--text_color);
}

#news_form #subscribe_button:hover{
    background-color: var(--button_hover_color);
    border: 1px solid rgba(255, 146, 67, 0.85);
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
    transform: scale(1.02);
}

#news_form #subscribe_button:active{
    background-color: var(--button_active_color);
    transform: scale(0.97);
}

footer hr{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.6);
}


.footer_bottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_bottom_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.footer_bottom_links a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: rgba(71, 71, 71, 0.7);
}

.footer_bottom p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #181818;
}




@media screen and  (max-width:1000px){
    #menu_button{
        display: flex;
    }

    .nav_menu{
        display: none;
    }
   
}

@media screen and (max-width:1200px) {
    .footer_content{
        flex-direction: column;
        gap: 50px;
    }

    .footer_content .footer_newsletter{
        align-self: center;
    }

    .footer_content .footer_newsletter #site_logo{
        align-self: flex-start;
        height: 36px;
        width: 150px;
    }
}

@media screen and (max-width: 900px) {
    .footer_bottom{
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width: 700px) {
    footer{
        padding: 44px 0 20.87px 0;
        width: 100vw;
    }
    

    .footer_main{
        width: 100%;
        justify-content: flex-start;
        gap: 0;
        flex-wrap: wrap;
        order: 2;
        margin-bottom: 112px;
        align-items: flex-start;
    }

    .footer_links:nth-of-type(1){
        margin-right: 124px;
    }

    .footer_links:nth-of-type(3){
        flex-basis: 100%;
        margin: 6px;
    }

    .footer_links p{
        color: #00080D;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 12px ;
    }

    .footer_links a{
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        color: #00080D;
    }

    .footer_newsletter{
        align-self: center;
        width: 100%;
    
    }

    .footer_newsletter p{
        margin-bottom: 8px;
    }

    .footer_content .footer_newsletter #site_logo{
        height: 27px;
        width: 107px;
        margin-bottom: 13px;
    }

    .footer_form #news_form{
        gap: 8px;
        height: 29px;
    }

    .footer_form #news_form #email_field, #news_form #subscribe_button{
        border-radius: 4px;
    }

    .footer_form #news_form #email_field{
        width: 199px;
        height: 100%;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }

    .footer_form #news_form #email_field::placeholder{
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }

    #news_form #subscribe_button{
        width: 84px;
        height: 100%;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        padding: 10px 24px;
        gap: 10px;
    }

    .footer_bottom_links{
        gap: 40px;
    }

    .footer_bottom{
        align-items: center;
        margin-top: 30px;
    }

    .footer_bottom a{
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: var(--text_color);
        text-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
    }

    .footer_bottom p{
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width:600px) {
    
    .site_logo{
        order: 2;
        
    }
    header div[class=container]{
        justify-content:flex-start;
        gap: 87.23px;
     }

     .side_menu{
        position: fixed;
        top: 0;
        left: 0;
     }

     @keyframes closebtn_active {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }

     header{
        position: static;
        box-shadow: none;
     }

     .showcase{
        margin-top: 55px;
     }
}

@media screen and (max-width:500px){
    header div[class=container]{
        justify-content:flex-start;
        gap: 35px;
     }
} 


/* PAGE HEADER */

.page_header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 72px;
}

.page_header h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: var(--header_color);
}

.page_header p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--sidebar_color);
}

/* Search Bar */

.search_bar{
    display: flex;
    align-items: center;
    gap: 6.25px;
    max-width: 921px;
    height: 56px;
    border: 2px solid #3C627E;
    border-radius: 4px;

}

.search_bar img{
    margin-left: 21.5px;
}

.search_bar #search_form{
    height: 100%;
    display: flex;
    padding: 6px !important;
    gap: 6px;
    flex: auto;
}

#search_form #search_field{
    height: 100%;
    border: none !important;
    resize: none !important;
    outline: none !important;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    gap: 6px;
    overflow-y: hidden;
    overflow-x: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--text_color);

}

#search_form #search_field::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(31, 31, 31, 0.5);
    border: none !important; 
}

#search_form #search_button{
    height: 100%;
    background-color: var(--button_color);
    border: none;
    outline: none !important;
    border-radius: 4px;
    max-width: 118px;
    color: var(--text_color);
    display: flex;
    justify-content: center;
    font-family: 'Manrope';
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    transition: all ease-out 50ms;
}

#search_form #search_button:hover{
    background-color: var(--button_hover_color);
    border: 1px solid rgba(255, 146, 67, 0.85);
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
    transform: scale(1.02);
}

#search_form #search_button:active{
    background-color: var(--button_active_color);
    transform: scale(0.97);
}

.search_bar:focus-within{
    border: 3px solid var(--header_color);
    
}

/*SIDEBAR*/

.side-bar{
    position: sticky;
    top:115px;
    animation: sidebar 400ms ease-out 0ms forwards;
    transform-origin: 0% 0%;
}

@keyframes sidebar{
    0%{
        transform: scaleY(0);
        opacity: 0.0;
    }
    100%{
        transform: scaleY(1);
        opacity: 1;
    }
}
    

.side-bar-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 279px;
    height: 626px;
    padding: 24px 16px 24px 48px;
    gap: 24px;
    background: var(--sidebar_color);
    border-radius: 4px;
    margin-right: 115px;
    margin-bottom: 104px;
}

.side-bar-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.side-bar-content a{
    color: #fff;
    text-decoration: none;
    transition-timing-function: ease-in;
    transition-duration: 60ms;
    cursor: pointer;
}

.side-bar-content a:hover{
    color: var(--highlight_color);
}

.side-bar-content a:active{
    color: var(--button_active_color);
}

.side-bar-text{
    color:var(--text_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 311px;
    height: 90px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.side-bar-text a{
    color: var(--highlight_color) ;
    border-bottom: 1px solid var(--highlight_color);
    text-decoration: none;
}


/* SECTIONS */

.section{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--text_color);
    padding: 5px 0; 
    position: relative;
}

.section-header{
    width: 100%;
    height: auto;
    color: var(--header_color);
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}

.section-content p:not(.section-content p:last-of-type, #glossary .section-content p){
    margin-bottom: 30px;
}



.section-content .head{
    color: var(--sub-header_color);
    font-size: larger;
    font-weight: 700;
}

#glossary .section-header{
    margin-bottom: 56px;
}

.section-content-faq{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-content-faq p, #glossary .section-content {
    padding-bottom: 30px ;
}

/* MEDIA QUERIES */

@media (max-width:900px) {
    .side-bar{
        display: none;
    }
}

@media  screen and (max-width:600px) {

    .page_header{
        margin-bottom: 40px;
    }
    .page_header h1{
        font-size: 24px;
        line-height: 34px;
    }

    .page_header p{
        font-size: 16px;
        line-height: 26px;
    }

    .search_bar{
        max-width: 363px;
        height: 42px;
    }

    .search_bar #search_form{
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        flex-shrink: 1;
    }

    #search_form #search_field::placeholder, #search_form #search_field{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .search_bar:focus-within{
        border: 2.5px solid var(--header_color);
        
    }

    #search_form #search_button{
        max-width: 95px;    
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

    }

    .section{
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        gap: 12px;

    }

    .section strong{
        color: rgba(31, 31, 31, 0.7);
    }

    main .section{
        margin-bottom: 32px;
    }

    .section-header{
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
    }

    .section-content{
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
    }
    .section-content .head{
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
    }

    .section-content-faq{
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        gap: 8px;

    }

}
