@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Manrope');

:root{
    --highlight_color : #FF9243;
    --text_color : #1f1f1f;
    --header_color : #143A56;
    --sub-header_color : #284E6B;
    --sidebar_color : #284E6B;
    --search_box_color : #3C627E;
    --button_active_color :  #FFD791;
    --button_color : #FF9243;
    --button_hover_color : rgba(255, 215, 145, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}



body{
    position: relative;
    font-family: 'Manrope';
    font-style: normal;
    background-color: #FFF;
}

a:hover{
    color: var(--highlight_color);
}

button{
    cursor: pointer;
}

main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px !important;
}

main .section{
    margin-bottom: 88px;
}

main .section:last-child{
    margin-bottom: 0;
}

.showcase{
    margin-top: 50px;
    margin-bottom: 56px;
}

/* PAGE HEADER */

.page_header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 72px;
}

.page_header h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: var(--header_color);
}

.page_header p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--sidebar_color);
}

/* Search Bar */

.search_bar{
    display: flex;
    align-items: center;
    gap: 6.25px;
    max-width: 921px;
    height: 56px;
    border: 2px solid #3C627E;
    border-radius: 4px;

}

.search_bar img{
    margin-left: 21.5px;
}

.search_bar #search_form{
    height: 100%;
    display: flex;
    padding: 6px !important;
    gap: 6px;
    flex: auto;
}

#search_form #search_field{
    height: 100%;
    border: none !important;
    resize: none !important;
    outline: none !important;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    gap: 6px;
    overflow-y: hidden;
    overflow-x: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--text_color);

}

#search_form #search_field::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(31, 31, 31, 0.5);
    border: none !important; 
}

#search_form #search_button{
    height: 100%;
    background-color: var(--button_color);
    border: none;
    outline: none !important;
    border-radius: 4px;
    max-width: 118px;
    min-width: 114px;
    color: var(--text_color);
    display: flex;
    justify-content: center;
    font-family: 'Manrope';
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    transition: all ease-out 50ms;
}

#search_form #search_button:hover{
    background-color: var(--button_hover_color);
    border: 1px solid rgba(255, 146, 67, 0.85);
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
    transform: scale(1.02);
}

#search_form #search_button:active{
    background-color: var(--button_active_color);
    transform: scale(0.97);
}

.search_bar:focus-within{
    border: 2.3px solid var(--header_color);
    
}

/*SIDEBAR*/

.side-bar{
    position: sticky;
    top:10px;
    animation: sidebar 400ms ease-out 0ms forwards;
    transform-origin: 0% 0%;
}

@keyframes sidebar{
    0%{
        transform: scaleY(0);
        opacity: 0.0;
    }
    100%{
        transform: scaleY(1);
        opacity: 1;
    }
}
    

.side-bar-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 279px;
    height: 626px;
    padding: 24px 16px 24px 48px;
    gap: 24px;
    background: var(--sidebar_color);
    border-radius: 4px;
    margin-right: 115px;
    margin-bottom: 104px;
}

.side-bar-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.side-bar-content a{
    color: #fff;
    text-decoration: none;
    transition-timing-function: ease-in;
    transition-duration: 60ms;
}

.side-bar-content a:hover{
    color: var(--highlight_color);
}

.side-bar-content a:active{
    color: var(--button_active_color);
}

.side-bar-text{
    color:var(--text_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 311px;
    height: 90px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.side-bar-text a{
    color: var(--highlight_color) ;
    border-bottom: 1px solid var(--highlight_color);
    text-decoration: none;
}


/* SECTIONS */

.section{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--text_color);
    padding: 5px 0; 
    position: relative;
}

.section-header{
    width: 100%;
    height: auto;
    color: var(--header_color);
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}


.section-content .head{
    color: var(--sub-header_color);
    font-size: larger;
    font-weight: 700;
}

.section-content-faq{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* MEDIA QUERIES */

@media (max-width:900px) {
    .side-bar{
        display: none;
    }
}