@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Manrope');
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root{
    --highlight_color : #FF9243;
    --text_color : #1f1f1f;
    --header_color : #143A56;
    --sub-header_color : #284E6B;
    --sidebar_color : #284E6B;
    --search_box_color : #3C627E;
    --button_active_color :  #FFD791;
    --button_color : #FF9243;
    --button_hover_color : rgba(255, 215, 145, 0.5);
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

body{
    position: relative;
    font-family: 'Manrope';
    font-style: normal;
    background-color: #FFF;
    overflow-x: hidden;
    
}


button{
    cursor: pointer;
    outline: none !important;
    border: none;
    border-radius: 4px;
}

main[class=container]{
    margin-top: 152px;
    margin-bottom: 107px;
}

hr{
    width: 100%;
    border: 1px solid rgba(31, 31, 31, 0.6);
    background-color: rgba(31, 31, 31, 0.1);
}

.container_head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

#save_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    background: #54F946;
    border-radius: 4px;
    outline: none !important;
    border: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--text_color);
}

#save_button:hover{
    background-color: hsl(115, 94%, 78%);
    border: 1px solid #54F946;
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
    transform: scale(1.02);
}


#save_button:active{
    background-color: hsl(115, 94%, 78%);
    transform: scale(0.97);
}

.settings_header{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #3C627E;
}

#hr1{
    border: 1px solid rgba(31, 31, 31, 0.6);
    box-shadow: 0 0 0 100vmax rgba(31, 31, 31, 0.6);
    clip-path: inset(0 -100vmax);
    margin-bottom: 41px;
    background-color: rgba(31, 31, 31, 0.1);
}

.avatar_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px 0;
    margin-bottom: 54px;
}

.avatar_section h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: var(--search_box_color);
}

.avatar_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 37px;
}

.avatar_container img{
    width: 180px ;
    height: 180px;
    border-radius: 50%;
}

.avatar_container_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#upload_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;
    background-color: #FFB37C;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--text_color);
}

#upload_button:hover{
    background-color: var(--button_hover_color);
    border: 1px solid #FFB37C;
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
    transform: scale(1.02);
}


#upload_button:active{
    background-color: var(--button_active_color);
    transform: scale(0.97);
}

#remove_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 24px;
    gap: 8px;
    background-color: transparent;
    border: 2px solid #D0D0D0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--text_color);
}

#remove_button:hover{
    background-color: red;
    border: none;
    color: #FFF;
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
    transform: scale(1.02);
}


#remove_button:active{
    background-color: hsl(0, 100%, 80%);
    transform: scale(0.97);
}

/* PERSONAL DETAILS */

.personal_details_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 54px 0;
    margin-bottom: 54px;
}

.personal_details_form h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: var(--search_box_color);
}

.form_fields{
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    margin-left: 106px;
}

.form_fields #exception1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 124px;
}

.form_fields label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    gap: 4px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    font-feature-settings: 'calt' off;  
    color: var(--text_color);
}

.personal_details_form .form_fields input{
    width: 467.63px;
    height: 56px;
    background: #FFFFFF;    
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    outline: none !important;
    box-sizing: border-box;
    padding: 10px 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
}

.personal_details_form .form_fields input:focus-within, .change_pwd_form .form_fields input:focus-within{
    border: 2px solid var(--search_box_color);
}


/* CHANGE PASSWORD */

.change_pwd_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 54px 0;
    margin-bottom: 54px;
}

.change_pwd_form h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: var(--search_box_color);
}


.change_pwd_form .form_fields input{
    width: 467.63px;
    height: 56px;
    background: #FFFFFF;    
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    outline: none !important;
    box-sizing: border-box;
    padding: 10px 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
}

.change_pwd_form #exception2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 115px;
}

.change_pwd_form #exception2 button[id=pwd_button]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    height: 56px;
    gap: 10px;
    background-color: #FFB37C;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--text_color);
    margin-top: 20px;
}

.change_pwd_form #exception2 button[id=pwd_button]:hover{
    background-color: var(--button_hover_color);
    border: 1px solid #FFB37C;
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
    transform: scale(1.02);
}


.change_pwd_form #exception2 button[id=pwd_button]:active{
    background-color: var(--button_active_color);
    transform: scale(0.97);
}

/* DELETE SECTION */

.delete_section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.delete_section h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: var(--search_box_color);
    margin-bottom: 24px;
}

.delete_section p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 56px;
}

.delete_section #delete_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;
    background-color: transparent;
    border: 1px solid red;
    margin-right: 16px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--text_color);
}

#delete_button:hover{
    background-color: red;
    border: none;
    color: #FFF;
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
}


#delete_button:active{
    background-color: hsl(0, 100%, 80%);
    transform: scale(0.97);
    color: #FFF;
}

@media screen and (max-width:1280px) {

    .form_fields #exception1{
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 54px 0;
    }
}

@media screen and (max-width:900px) {

    .change_pwd_form #exception2{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0;
    }

    .form_fields{
        margin-left: 0;
    }

}

@media screen and (max-width:600px) {

    .container_head{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
    }

    #save_button{
        display: none;
    }

    #pwd_button{
        align-self: center;
    }

    .avatar_section h1{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 42px;
    }

    #hr1{
        margin-bottom: 43px;
        
    }

    .avatar_container{
        gap: 0 22.7px;
    }

    .avatar_container img{
        width: 86.19px;
        height: 84px;
        margin-right: 22.7px;
    }

    #upload_button, #remove_button{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .personal_details_form h1{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
    }

    .form_fields label{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: #808080;
    }

    label input{
        background-color: #F0F0F0 !important;
        border: none !important;
        border-radius: 2px !important;
        height: 44px;
        outline: none !important;
        box-sizing: border-box;
        padding: 10px 20px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 100;
        font-size: 8px;
        line-height: 10px;
        color: var(--text_color);
        width: 100% !important;
    }

    .form_fields input{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 100;
        font-size: 8px;
        line-height: 10px;
        color: var(--text_color);
    }


    .personal_details_form{
        margin-bottom: 44px;
    }

    .change_pwd_form{
        margin-bottom: 29.98px;
    }

    .change_pwd_form h1{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
    }

    .change_pwd_form #pwd_button{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .delete_section h1{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
    }

    .delete_section p{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }

    .delete_section #delete_button{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: red;
    }

}

@media screen and (max-width:600px){
    .avatar_container{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px 0;
    }

    main[class=container]{
        margin-top: 42px;
    }

}