@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Manrope');

:root{
    --highlight_color : #FF9243;
    --text_color : #1f1f1f;
    --header_color : #143A56;
    --sub-header_color : #284E6B;
    --sidebar_color : #284E6B;
    --search_box_color : #3C627E;
    --button_active_color :  #FFD791;
    --button_color : #FF9243;
    --button_hover_color : rgba(255, 215, 145, 0.5);
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

body{
    position: relative;
    font-family: 'Manrope';
    font-style: normal;
    overflow-x: hidden;
    background: url(../images/Background.svg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .content_container{
    width: auto;
    min-height: 294px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 88px;
    
}

.error_image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 226.26px;
    height: 226px;
    border-radius: 50%;
    background-color: #E1E5F2;
}

.error_msg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.error_msg h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    color: #3C627E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
}

.error_msg h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: var(--text_color);
    margin-bottom: 16px;
}

.error_msg p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--text_color);
    margin-bottom: 40px;
}

.error_msg button{
    background: #FFA657;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px 10px 24px;
    gap: 0 10px;
    outline: none !important;
    border: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    transition: all ease-out 50ms;
}

.error_msg button:hover{
    background-color: rgba(255, 215, 145, 0.25) !important;
    border: 1px solid #FF9243 !important;
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
}

.error_msg button:active{
    background-color: var(--button_hover_color);
    border: 1px solid rgba(255, 146, 67, 0.85);
    transform: scale(0.97);
}


@media screen and (max-width:900px) {
    main .content_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 23px 0;
    }

    .error_msg{
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width:900px) {
    .error_image{
        width: 119px;
        height: 119px;
    }

    .error_image img{
        width: 95.72px;
        height: 105.31px;
    }

    .error_msg h1{
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 8px;
    }

    .error_msg h3{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 4px;
    }

    .error_msg p{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 32px;
    }

    .error_msg button{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
}