@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Manrope');

:root{
    --highlight_color : #FF9243;
    --text_color : #1f1f1f;
    --header_color : #143A56;
    --sub-header_color : #284E6B;
    --sidebar_color : #284E6B;
    --search_box_color : #3C627E;
    --button_active_color :  #FFD791;
    --button_color : #FF9243;
    --button_hover_color : rgba(255, 215, 145, 0.5);
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Manrope';
    font-style: normal;
    background-color: #FFF;
    overflow-x: hidden;
    background: url(../images/Background.svg) no-repeat center center fixed;
}

a:hover{
    color: var(--highlight_color);
}

button{
    cursor: pointer;
}



/* HOMEPAGE BODY */

main[class=container]{
    margin-top: 182px;
    margin-bottom: 100px;
}

/* SHOWCASE */

.showcase{
    display: flex;
    gap: 46px;
    max-width: 100%;
    height: auto;
    flex-wrap: auto;
    margin-bottom: 120px;
    margin-top: 0px;
}


.showcase_body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;   
    
}

.showcase_body h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #002642;
    max-width: 753px;
    padding-right: 40px;
    margin-bottom: 16px;
}

.showcase_body p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;
    color: var(--header_color);
    max-width: 594px;
    min-height: 92px;
    margin-bottom: 36px;
}

.showcase_body #showcase_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    background-color: rgba(255, 146, 67, 0.7);
    border-radius: 4px;
    border: none;
    outline: none !important;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 2px;
    line-height: 24px;
    color: var(--header_color);
    transition: all ease-out 50ms;
}

.showcase_body button[id=showcase_button]:hover{
    background-color: rgba(255, 215, 145, 0.25) !important;
    border: 1px solid #FF9243 !important;
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
}

.showcase_body button[id=showcase_button]:active{
    background-color: var(--button_hover_color);
    border: 1px solid rgba(255, 146, 67, 0.85);
    transform: scale(0.97);
}

.showcase_images{
    position: relative;
    min-width: 477px;
    height: 441px;
}

.showcase_images img{
    filter: brightness(200%) saturate(200%);
}

.showcase_images img:nth-of-type(1){
    position:absolute;
    top: 73.9px;
    right: 44.35px;
    z-index: -1;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.7));
    animation: showcase_image_1 ease-in-out 1s forwards;
    transition: ease-in 0.5s;
    width: 316.79px;
    height: 297.4px;
}

.showcase_images img:nth-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: drop-shadow(-2px 2px 5px rgba(0, 0, 0, 0.7));
    animation: showcase_image_2 ease-in-out 0.5s forwards;
    animation-delay: 0.7s;
    transition: ease-in 0.5s;
    width: 179.21px; 
    height: 197.98px;
}

.showcase_images img:nth-of-type(3){
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    filter: drop-shadow(2px -2px 5px rgba(0, 0, 0, 0.7));
    animation: showcase_image_2 ease-in-out 0.5s forwards;
    animation-delay: 0.5s;
    transition: ease-in 0.5s;
    width: 179.21px; 
    height: 197.98px;
}

@keyframes showcase_image_1 {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
    
@keyframes showcase_image_2 {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/* SITE ACTIONS */

.site_actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 114px;
    width: 100%;
    margin-bottom: 100px;
}

.site_actions_header h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
    color: #284E6B;
    margin-bottom: 60px;
    padding: 0 180px;
}

.site_actions_sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.site_actions_sub h3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #284E6B;
}

.site_actions_sub p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #1F1F1F;
}

.site_actions_sub .sub1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
}

.sub1_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: auto;
    padding: 0 20px;
    text-align: center;
}

.sub1_item:nth-of-type(1) img{
    margin-bottom: 32px;
}

.sub1_item:nth-of-type(2) img{
    margin-bottom: 35px;
}

.sub1_item:nth-of-type(3) img{
    margin-bottom: 33px;
}

.sub1_item:nth-of-type(2) #lib{
    display: flex;
    gap: 3.89px ;
    align-items: flex-end;
}

.site_actions_sub .sub2{
    text-align: center ;
    max-width: 369px;
}

.site_actions button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    background: rgba(255, 146, 67, 0.7);
    border-radius: 4px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--text_color);
    border: none;
    outline: none !important;
}

.site_actions button:hover{
    background-color: rgba(255, 215, 145, 0.25);
    border: 1px solid #FF9243;
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
    transform: scale(1.02);
}

.site_actions button:active{
    background-color: var(--button_hover_color);
    border: 1px solid rgba(255, 146, 67, 0.85);
    transform: scale(0.97);
}

/* ARTICLE */

.contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.contents_header{
    align-self: center;
    text-align: center;
    margin-bottom: 80px;
    margin-left: 54px;
    margin-right: 54px;
    padding: 0 80px;
}

.contents_header h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
    color: #284E6B;   
}

.content_section{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.content_section:last-of-type{
    margin-bottom: 0;
}

.content_section h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: var(--header_color);
}

.content_section p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: var(--sidebar_color);
}

/* MEDIA QUERIES */

@media screen and  (max-width:1000px){

    .contents_header{
        padding: 0;
    }

    .site_actions{
        padding: 0 ;
    }

    .site_actions_sub .sub1{
        flex-direction: column;
        gap: 66px;
    }

    .showcase{
        flex-direction: column;
    }
    .showcase_body{
        margin-bottom: 83px;
    }
    .showcase_images{
        align-self: center;
    }
   
}

@media screen and (max-width:1200px) {


    .site_actions_header h1{
        padding: 0 !important;
        width: 100%;
   }
}

@media screen and (max-width: 900px) {

    .showcase{
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    
    .showcase_body{
        margin-bottom: 52px;
    }

    .showcase_body h1{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 16px;
    }

    .showcase_body p{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;  
    }

    .showcase #showcase_button{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        padding: 10px 24px;
        
    }

    .site_actions_header h1{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #00192C;
    }

    .site_actions_sub h3{
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }

    .site_actions_sub p{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: var(--text_color);
    }

    .site_actions button{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: var(--text_color);
        padding: 8.5px 18px;
    }

    .contents{
        gap: 40px;
    }

    .content_section, .contents_header{
        margin-bottom: 0;
    }

    .contents_header{
        margin: 0;
     }

   .contents .contents_header h1{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        color: #284E6B;
    }

    .content_section h3{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;

    }

    .content_section p{
        font-size: 16px;
        line-height: 24px;
    }

}

@media screen and (max-width:600px) {
    
     main[class=container]{
        margin-top: 55px;
     }

     body{
        background:none;
     }

}

@media screen and (max-width:500px){

    .showcase_images{
        min-width: auto;
        height: auto;
    }

     .showcase_images img:nth-of-type(2), .showcase_images img:nth-of-type(3){
        display: none;
     }

     .showcase_images img:nth-of-type(1){
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform: scale(2);
        opacity: 0;
        animation-duration: 0.5s;
     }

     @keyframes showcase_image_1 {
        0% {
          transform: scale(2);
          opacity: 0;
          filter: brightness(1000%);
        }
        100% {
          transform: scale(1);
          opacity: 1;
          filter: brightness(200%);
        }
      }

     .showcase_images{
        position: relative;
        width: 227.13px;
        height: 209.06px;
    }
} 
