@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Manrope');

:root{
    --highlight_color : #FF9243;
    --text_color : #1f1f1f;
    --header_color : #143A56;
    --sub-header_color : #284E6B;
    --sidebar_color : #284E6B;
    --search_box_color : #3C627E;
    --button-color : #FFB37C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}



body{
    position: relative;
    font-family: 'Manrope';
    font-style: normal;
    background-color: #FFF;
}

a:hover{
    color: var(--highlight_color);
}

main{
    display: flex;
    justify-content: space-between;
}

main[class=container]{
    margin: 40px auto;
}

section{
    margin: 40px 0;
}

/*SIDEBAR*/

.side-bar{
    position: sticky;
    top:10px;
    animation: sidebar 400ms ease-out 0ms forwards;
    transform-origin: 0% 0%;
}

@keyframes sidebar{
    0%{
        transform: scaleY(0);
        opacity: 0.0;
    }
    100%{
        transform: scaleY(1);
        opacity: 1;
    }
}
    

.side-bar-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 279px;
    height: 626px;
    padding: 24px 16px 24px 48px;
    gap: 24px;
    background: var(--sidebar_color);
    border-radius: 4px;
    margin-right: 115px;
    margin-bottom: 104px;
}

.side-bar-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.side-bar-content a{
    color: #fff;
    text-decoration: none;
    transition-timing-function: ease-in;
    transition-duration: 60ms;
}

.side-bar-content a:hover{
    color: var(--highlight_color);
}

.side-bar-content a:active{
    color: var(--button-color);
}

.side-bar-text{
    color:var(--text_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 311px;
    height: 90px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.side-bar-text a{
    color: var(--highlight_color) ;
    border-bottom: 1px solid var(--highlight_color);
    text-decoration: none;
}


/* GLOSSARY */



.glossary{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--text_color);
    padding: 5px 0; 
    position: relative;
}

.section-header{
    width: 100%;
    height: auto;
    color: var(--header_color);
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}


.glossary-content .head{
    color: var(--sub-header_color);
    font-size: larger;
    font-weight: 700;
}


/* MEDIA QUERIES */

@media (max-width:900px) {
    .side-bar{
        display: none;
    }

    .glossary-nav-body{
        position: absolute;
        top: 0;
        left: -50px;
        width: 100px;
        height: 100%;
        display: none;
        width: 75px;
    }
}