@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Manrope');

:root{
    --highlight_color : #FF9243;
    --text_color : #1f1f1f;
    --header_color : #143A56;
    --sub-header_color : #284E6B;
    --sidebar_color : #284E6B;
    --search_box_color : #3C627E;
    --button_active_color :  #FFD791;
    --button_color : #FF9243;
    --button_hover_color : rgba(255, 215, 145, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Manrope';
    font-style: normal;
    background-color: #FFF;
}

a:hover{
    color: var(--highlight_color);
}

button{
    cursor: pointer;
}


/*  HEADER  */
header{
    min-height: 110px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
 }

header a{
    color: #4F4F4F;
    transition: 0.2s; 
}

header #current_page_link a{
    color: var(--highlight_color);
 }

 header a:hover:not(header .site_logo a:hover){
    opacity: 0.6;
 }


 header div[class=container]{
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 header .site_logo{
    width:175px;
 }

header nav{
    max-width: 652px;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
    height: auto;
    width: 100%;
    gap: 70px;
}

header #nav_secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

header .nav_secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: 112px;
}

header #nav_button{
    height: 56px;
    width: 156px;
    background-color: var(--button_color);
    border: none;
    outline: none !important;
    border-radius: 4px;
    color: var(--text_color);
    display: flex;
    justify-content: center;
    font-family: 'Manrope';
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    transition: all ease-out 50ms;
}

header #nav_button:hover{
    background-color: var(--button_hover_color);
    border: 1px solid rgba(255, 146, 67, 0.85);
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
    transform: scale(1.02);
}


header #nav_button:active{
    background-color: var(--button_active_color);
    transform: scale(0.97);
}

.nav_secondary .icon:hover{
    opacity: 0.6;
}

/* MENU BAR */

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu_button{
    width: 48px ;
    height: 48px;
    border: none;
    outline: none !important;
    border-radius: 4px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
}

#menu_button:active{
    transform: scale(0.95);
}

.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 70px;
}

.side_menu {
    height: 100% !important;
    width: 0;
    opacity: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: rgba(31, 31, 31, 0.6);
    padding-top: 83px;
    padding-left: 32px;
    gap: 16px;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0px 0px 100px 100vmax  rgba(0, 0, 0, 0.2) ; 
    transition: 0.3s;
  }
  
.side_menu .menu_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18.25px;
    min-height: 28px;
    min-width: 78px;
}

.menu_item:last-of-type{
    gap: 20.5px;
}

.side_menu button{
    margin-top: 38.5px;
    width: 134px;
    height: 44px;
    background: #FFB37C;
    border-radius: 4px;
    border: none;
    outline: none !important;
    color: var(--text_color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    transition: all ease-out 50ms;
}

.side_menu button:hover{
    background-color: var(--button_hover_color);
    border: 1px solid rgba(255, 146, 67, 0.85);
    box-shadow: 0px 2px 10px 2px rgba(31, 31, 31, 0.1);
    transform: scale(1.02);
}

.side_menu button:active{
    background-color: var(--button_active_color);
    transform: scale(0.97);
}
  
.side_menu a{
    color: rgba(31, 31, 31, 0.6);
    transition: 0.2s;
  }

  .side_menu a:hover {
    color: var(--sidebar_color);
    opacity: 0.8;
  }
  
  .side_menu a:active{
    color: var(--search_box_color);
  }
  .side_menu .closebtn {
    position: absolute;
    top: 33.5px;
    right: 27.5px;
    font-size: 35px;
    color: #000;
  }

  .side_menu a[class=closebtn]:active {
    animation-name: closebtn_active;
    animation-duration: 0.85s;
  }

  @keyframes closebtn_active {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
    
  

  /* MENU BAR SEARCH */

.menu_search{
    display: flex;
    align-items: center;
    gap: 6.25px;
    width: 231px;
    height: 44px;
    border: 1px solid #284E6B;    
    background: transparent;
    border-radius: 4px;
    margin-bottom: 32px;
    transition: 20ms ease-out ;


}

.menu_search img{
    margin-left: 11.26px;
}

.menu_search #menu_search_form{
    height: 100%;
    display: flex;
    padding: 6px !important;
    gap: 6px;
    flex: auto;
}

.menu_search #menu_search_form #search_field{
    height: 100%;
    border: none !important;
    resize: none !important;
    outline: none !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    gap: 6px;
    overflow-y: hidden;
    overflow-x: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--text_color);
    background: transparent !important;

}

.menu_search #menu_search_form #search_field::placeholder{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(31, 31, 31, 0.4);
    border: none !important; 
}

.menu_search:focus-within{
    border: 2px solid var(--search_box_color);
    
}

/* HOVER MENU */

.hover_menu{
    position: fixed;
    top: 120px;
    right: 60px;
    display: none;
    flex-direction: column;
    padding-top: 37px;
    padding-left: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 243px;
    height: 205px;
    gap: 20px;
    background: #F0F0F0;
    border-radius: 8px;
    box-shadow: 0px 3px 5px  4px rgba(0, 0, 0, 0.1) ;
    border: 1px #FFF solid;
    animation: hover_menu ease-in-out 0.3s;
    animation-fill-mode: forwards;
    transform-origin: 100% 0%;
    transition: 0.3s;
}


.hover_menu .hover_menu_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    
}

@keyframes hover_menu {
    0%{
        transform: scale(0);
        border-radius: 50%;
        opacity: 0;
    }
    100%{
        transform: scale(1);
        border-radius: 8px;
        opacity: 1;
    }
    
}

.hover_menu a{
    color: var(--text_color);
    transition: 0.2s;
}

.hover_menu .hover_menu_item a:hover{
    color: var(--text_color) ;
    opacity: 0.6;
}

.hover_menu .hover_menu_item:last-of-type a{
    color: #FA2C2C;
}

.hover_menu a:hover{
    color: var(--highlight_color);
    opacity: 0.8;
}

.hover_menu a:active{
    color: var(--button_active_color);
}






/* MEDIA QUERIES */

@media screen and  (max-width:1000px){
    #menu_button{
        display: flex;
    }

    .nav_menu{
        display: none;
    }

    header nav, header #nav_secondary{
        display: none;
    }

    header .nav_secondary{
        margin-left: 0;
    }
   
}


@media screen and (max-width:600px) {

    main[id=hp][class=container]{
        margin-top: 55px;
     }
    
    .site_logo{
        order: 2;
        
    }
    header div[class=container]{
        justify-content:flex-start;
        gap: 87.23px;
     }

     .side_menu{
        position: fixed;
        top: 0;
        left: 0;
     }

     @keyframes closebtn_active {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }

     header{
        position: static;
        box-shadow: none;
     }

     .showcase{
        margin-top: 55px;
     }
}


@media screen and (max-width:500px){
    header div[class=container]{
        justify-content:flex-start;
        gap: 37px;
     }
} 

@media screen and (max-width:400px){
    header div[class=container]{
        justify-content:flex-start;
        gap: 50px;
     }
} 



@media screen and (max-width:360px){
    header div[class=container]{
        justify-content:flex-start;
        gap: 22px;
     }
} 
